body{
    background-color: rgb(192, 233, 240);
    text-align: left;
}
td{
    background-color: rgb(235, 192, 224);
    border:10px;
    padding:10px;
    border:10px
}
h1{
    color: rgb(168, 62, 230);
}
